<html>

<head>
    <link rel="stylesheet" href="style.css">

    <!-- Vue.js  -->
    <!-- Development version, includes helpful console warnings -->
    <!-- script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script -->
    <!-- Production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<!-- Own library -->
<script type="module" src="bundle.js"></script>

<script>
    const appName = "tw-assets-management";
    const clientId = "b9ff96b9717574ee8189";
    const appScopes = "public_repo%20read:user";
    const gitHub = "https://github.com";
    const mainRepoOwner = "trustwallet";
    const mainRepoName = "assets";
    const mainRepoFullName = mainRepoOwner + "/" + mainRepoName;
    const mainRepoUrl = `${gitHub}/${mainRepoFullName}.git`;
    const prBodyFooter = `\n\nPR created by ${appName}`;

    const sampleEthContract = "0x6d84682C82526E245f50975190EF0Fff4E4fc077";
    const testLogoUrls = [
        "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0x47F32f9eBFc49a1434eB6190d5D8a80A2Dc36af5/logo.png",
        "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0x9B9087756eCa997C5D595C840263001c9a26646D/logo.png",
        "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0xd4c435F5B09F855C3317c8524Cb1F586E42795fa/logo.png",
        "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0x86876a5fCAcb52a197f194A2c8b2166Af327a6da/logo.png",
        "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0xD5525D397898e5502075Ea5E830d8914f6F0affe/logo.png"
    ];

    function addLog(message) {
        console.log(message);
        //const newvalue = document.getElementById("log").value + message + "\n"
        //document.getElementById("log").value = newvalue;
    }

    async function myAlert(message) {
        addLog(message);
        alert(message);
    }

    function authHeaders(userToken) {
        return { authorization: `token ${userToken}` };
    }

    function loginActionUrl() {
        return `${gitHub}/login/oauth/authorize?scope=${appScopes}&client_id=${clientId}`;
    }

    function getTokenQP() {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get("token");
    }

    async function getUser(userToken) {
        const result = await script.octoRequest("GET /user", { headers: authHeaders(userToken) });
        return result.data;
    }

    async function checkUser(userToken) {
        if (!userToken) {
            return "";
        }
        const user = await getUser(userToken);
        if (!user || !user.login) {
            return "";
        }
        return user.login;
    }


    async function getUserRepos(userToken) {
        const result = await script.octoRequest("GET /user/repos", { headers: authHeaders(userToken) });
        return result.data;
    }

    async function getRepo(userToken, owner, repo) {
        const result = await script.octoRequest("GET /repos/:owner/:repo", {
            headers: authHeaders(userToken),
            owner: owner,
            repo: repo
        });
        return result.data;
    }

    async function checkRepo(userToken, loginName) {
        if (!userToken || !loginName) {
            return null;
        }
        const repos = await getUserRepos(userToken);
        if (!repos || repos.length == 0) {
            return null;
        }
        // first try under 'assets' name
        for (const r of repos) {
            if (r.fork && r.name === mainRepoName) {
                const r2 = await getRepo(userToken, loginName, r.name);
                if (r2 && r2.parent && r2.parent.full_name === mainRepoFullName) {
                    return r.name;
                }
            }
        }
        // try again all others
        for (const r of repos) {
            if (r.fork) {
                const r2 = await getRepo(userToken, loginName, r.name);
                if (r2 && r2.parent && r2.parent.full_name === mainRepoFullName) {
                    return r.name;
                }
            }
        }
        return null;
        //addLog(`User ${loginname}, fork repo ${repo}`);
    }

    // Retrieve the size of an image (url or stream) but placing in a hidden img and retrieving size
    async function getImageDimension(url, stream = null) {
        try {
            const img = document.getElementById("image-placeholder-for-size-computation");
            //img.src = "";
            if (stream) {
                img.src = "data:image/gif;base64," + stream;
            } else {
                img.src = url;
            }
            return { x: img.naturalWidth, y: img.naturalHeight };
        } catch (error) {
            console.log("getImageDimension exception", error);
            return { x: 0, y: 0 }
        }
    }

    // return [ArrayBuffer, content-type]
    async function logoStreamFromUrl(testLogoUrl) {
        if (!testLogoUrl) {
            return [null, null];
        }
        const response = await fetch(testLogoUrl);
        if (!response || !response.status == 200) {
            addLog(`Logo stream error ${url}`);
            return [null, null];
        }
        return [await response.arrayBuffer(), response.headers.get('Content-Type')];
    }

    function arrayBufferToBase64(buffer) {
        var binary = '';
        var bytes = new Uint8Array(buffer);
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode(bytes[i]);
        }
        return window.btoa(binary);
    }

    function createBranchAndPull() {
        // TODO
        console.log('createBranchAndPull', JSON.stringify(tokenInput));
    }

    function start() {
        // Preview for a single logo, supports url and stream, rounded mask, dimming
        Vue.component('logo-single-preview', {
            props: {
                size: Number,
                logourl: String,
                logostream: String,
                dimmed: Boolean,
                rounded: Boolean
            },
            computed: {
                src: function () {
                    if (this.logostream) {
                        // image data inline
                        return "data:image/gif;base64," + this.logostream;
                    }
                    if (this.logourl) { return this.logourl; }
                    // fallback TODO replace with placeholder image
                    return "favicon.ico";
                },
                opacity: function () { return this.dimmed ? 0.6 : 1; },
                roundedRadius: function () { return this.rounded ? "48%" : "0%" },
                style: function () { return `opacity: ${this.opacity}; border-radius: ${this.roundedRadius};`; }
            },
            data: function () {
                return {}
            },
            template: `<img :width="size" :height="size" v-bind:src="this.src" :style="style" />`
        });

        // Token text for preview
        Vue.component('logo-preview-with-name', {
            props: {
                logourl: String,
                logostream: String,
                name: String,
                dimmed: Boolean,
            },
            template:
                `
                    <tr>
                        <td style="padding: 5;">
                            <logo-single-preview :size="32" :logourl="logourl" :logostream="logostream" :dimmed="dimmed" :rounded="true" />
                        </td>
                        <td style="align: right; width: 100px;">
                            <span style="vertical-align: center; font-size: 70%;">{{name}}</span>
                        </td>
                    </tr>
                `
        });

        // Logo preview  with a few other logos above/below
        Vue.component('logo-column-preview', {
            props: {
                logourl: String,
                logostream: String,
                tokenname: String,
                textcolor: String,
            },
            data: function () {
                return {
                    logosBuiltin: {
                        Bitcoin: "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/bitcoin/info/logo.png",
                        Trust: "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/binance/assets/TWT-8C2/logo.png",
                        Binance: "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/binance/info/logo.png",
                        Ethereum: "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/info/logo.png"
                    }
                }
            },
            template:
                `
                    <div style="display: inline-block; padding: 15px; align: right;">
                        <table :style="'color: ' + textcolor + '; width: 130px;'">
                            <logo-preview-with-name :logourl="logosBuiltin['Bitcoin']" name="Bitcoin" :dimmed="true" />
                            <logo-preview-with-name :logourl="logosBuiltin['Trust']" name="Trust" :dimmed="true" />
                            <logo-preview-with-name :logourl="logourl" :logostream="logostream" :name="tokenname" :dimmed="false" />
                            <logo-preview-with-name :logourl="logosBuiltin['Binance']" name="Binance" :dimmed="true" />
                            <logo-preview-with-name :logourl="logosBuiltin['Ethereum']" name="Ethereum" :dimmed="true" />
                        </table>
                    </div>
                `
        });

        // Log preview with a column with light background and one with dark background
        Vue.component('logo-preview', {
            props: {
                logourl: String,
                logostream: String,
                tokenname: String
            },
            template:
                `
                    <div>
                        <table>
                            <tr>
                                <td style="background-color: #E0E0E0;">
                                    <logo-column-preview :logourl="logourl" :logostream="logostream" :tokenname="tokenname" textcolor="black" />
                                </td>
                                <td style="background-color: #202020; color: white;">
                                    <logo-column-preview :logourl="logourl" :logostream="logostream" :tokenname="tokenname" textcolor="white" />
                                </td>
                            </tr>
                        </table>
                    </div>
                `
        });

        var app = new Vue({
            el: '#app',
            async created() {
                console.log("created");
                this.clearInput();
                this.userToken = getTokenQP();
                this.loginName = await checkUser(this.userToken);
                this.repo = await checkRepo(this.userToken, this.loginName);
                console.log(this.repo);
            },
            data: {
                userToken: null,
                loginName: null,
                repo: null,
                activeTab: 'tab-add',
                tokenInput: tokenInput = new script.assets.TokenInput(),
                tokenInputCheckResult: '',
                inputLogoText: '',
                debugMode: false,
                testLogoIndex: 0
            },
            methods: {
                selectTab: async function (tab) {
                    this.activeTab = tab;
                    if (this.activeTab == 'tab-prs') {
                        loadOpenPrs();
                    }
                },
                clearUser: function () {
                    this.userToken = null;
                    loginName = '';
                    this.clearInput();
                },
                logout: function () {
                    this.clearUser();
                },
                clearInput: function () {
                    this.tokenInput = new script.assets.TokenInput();
                    this.inputLogoSetStream(null, null, 0, null);
                },
                checkInput: async function () {
                    // don't display check result if all inputs are emopty
                    if (!this.tokenInput.name && !this.tokenInput.contract && !this.tokenInput.logoStream) {
                        this.tokenInputCheckResult = "";
                        //document.getElementById("input.check-result").style["color"] = "";
                        return "";
                    }

                    // auto-fill explorer
                    if (this.tokenInput.contract && !this.tokenInput.explorerUrl) {
                        const explorer = script.assets.explorerUrl(this.tokenInput.type, this.tokenInput.contract);
                        this.tokenInput.explorerUrl = explorer;
                    }

                    const [resnum, resmsg, fixed] = await script.assets.checkTokenInput(this.tokenInput, { get: getImageDimension });
                    if (resnum >= 2) {
                        this.tokenInputCheckResult = "ERROR:\n" + resmsg;
                        //document.getElementById("input.check-result").style["color"] = "red";
                    } else if (resnum >= 1) {
                        this.tokenInputCheckResult = "Warning:\n" + resmsg;
                        //document.getElementById("input.check-result").style["color"] = "orange";
                    } else {
                        this.tokenInputCheckResult = "OK\n" + resmsg;
                        //document.getElementById("input.check-result").style["color"] = "";
                    }
                },
                checkInputButton: async function () {
                    addLog("starting TokenInput check...");
                    const [resnum, resmsg, fixed] = await script.assets.checkTokenInput(this.tokenInput, { get: getImageDimension });
                    if (resnum == 0) {
                        myAlert("Check result: OK\n" + resmsg);
                        return;
                    }
                    if (!fixed) {
                        // cannot be fixed
                        if (resnum >= 2) {
                            myAlert("Check result: ERROR\n" + resmsg);
                            return;
                        }
                        myAlert("Check result: Warning\n" + resmsg);
                        return;
                    }
                    // can be fixed
                    tokenInput = fixed;
                    myAlert("Check result: Fixed! \n " + resmsg);
                },
                tokenInputChanged: async function () {
                    await this.checkInput();
                },
                inputLogoSetStream: function (stream, hintName, hintSize, hintMime) {
                    if (!stream) {
                        this.tokenInput.logoStream = null;
                        this.tokenInput.logoStreamSize = 0;
                        this.tokenInput.logoStreamType = null;
                        this.inputLogoText = "(no image)";
                        return;
                    }
                    this.tokenInput.logoStream = stream;
                    let text = "(";

                    this.tokenInput.logoStreamSize = 0;
                    if (hintSize && hintSize > 0) {
                        this.tokenInput.logoStreamSize = hintSize;
                        text += `${hintSize} bytes`;
                    } else {
                        text += `${this.tokenInput.logoStream.length} base64 bytes`;
                    }
                    if (hintName) {
                        text += `, ${hintName}`;
                    }
                    this.tokenInput.logoStreamType = "";
                    if (hintMime) {
                        this.tokenInput.logoStreamType = hintMime;
                        text += `, ${hintMime}`;
                    }

                    text += ")";
                    this.inputLogoText = text;
                },
                logoFileSelected: async function () {
                    const file = document.getElementById("input.file-selector").files[0];
                    if (file) {
                        var reader = new FileReader();
                        reader.readAsArrayBuffer(file);
                        app = this;
                        reader.onload = async function (evt) {
                            var contents = evt.target.result;
                            var base64 = arrayBufferToBase64(contents);
                            app.inputLogoSetStream(base64, file.name, file.size, file.type);
                            await app.tokenInputChanged();
                        }
                        reader.onerror = function (evt) {
                            myAlert(`Error reading file ${file.name}`);
                        }
                    }
                },
                debugTestLogoGetNext: async function () {
                    this.testLogoIndex = (this.testLogoIndex + 1) % testLogoUrls.length;
                    const [streamArray, mime] = await logoStreamFromUrl(testLogoUrls[this.testLogoIndex]);
                    const stream = arrayBufferToBase64(streamArray);
                    this.inputLogoSetStream(stream, "test" + this.testLogoIndex, streamArray.byteLength, mime);
                },
                debugFillWithDummyData: async function () {
                    this.tokenInput.name = "LegumeToken";
                    this.tokenInput.type = "erc20";
                    this.tokenInput.contract = sampleEthContract;
                    this.tokenInput.website = "https://en.wikipedia.org/wiki/Legume";
                    this.tokenInput.description = "This is the best-tasting DeFi finance project.";
                    this.tokenInput.explorerUrl = `https://etherscan.io/token/${sampleEthContract}`;
                    await this.debugTestLogoGetNext();
                    await this.tokenInputChanged();
                }
            }
        });
    }
</script>

<body onload="start()">
    <span id="app">
        <div id="header">
            <span id="menu-left">
                <a v-on:click="selectTab('tab-add')">Add New Token</a>
                <a v-on:click="selectTab('tab-prs')">Pull Requests</a>
                <a v-on:click="selectTab('tab-search')">Token Search</a>
            </span>
            <span id="menu-right">
                <span v-show="userToken == null">
                    <a :href="loginActionUrl()">Log in</a>
                </span>
                <span v-show="userToken != null">
                    <span v-show="repo == null">
                        No <a :href="mainRepoUrl" target="_blank">fork</a> found for user {{loginName}}!
                    </span>
                    <span v-show="repo != null">
                        <a :href="gitHub + '/' + loginName + '/' + repo + '.git'" target="_blank">{{loginName}}/{{repo}}</a>
                    </span>
                    <span>
                        <a href="#" v-on:click="logout()">Logout</a>
                    </span>
                </span>
            </span>
        </div>
        <div id="main">
            <div class="tab-pane" v-show="activeTab == 'tab-add'">
                <span v-show="!userToken" style="text-align: center; margin: auto;">
                    You need to log in with your GitHub account.
                    Please <a :href="loginActionUrl()">Log in</a>
                </span>
                <span v-show="userToken">
                    <div>
                        <h3>Add Token</h3>
                        Please fill in the token/project details
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td class="input_label_td">Name:</td>
                                <td>
                                    <input v-model="tokenInput.name" class="input" placeholder="Token Name" size="20"
                                        v-on:change="tokenInputChanged()" />
                                </td>
                            </tr>
                            <tr>
                                <td class="input_label_td">Type:</td>
                                <td>
                                    <select v-model="tokenInput.type" class="input" v-on:change="tokenInputChanged()">
                                        <option value="erc20">ERC20 (Ethereum)</option>
                                        <option value="bep2">BEP2 (Binance)</option>
                                        <option value="bep20">BEP20 (Binance Smart Chain)</option>
                                        <option value="trc10">TRC10 (Tron)</option>
                                        <option value="trc20">TRC20 (Tron)</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="input_label_td">Contract/ID:</td>
                                <td>
                                    <input v-model="tokenInput.contract" class="input"
                                        placeholder="0xF784682C82526e245F50975190EF0fff4E4fC077" size="40"
                                        v-on:change="tokenInputChanged()" />
                                </td>
                            </tr>
                            <tr>
                                <td class="input_label_td">
                                    <div>Logo:</div>
                                </td>
                                <td>
                                    <div>
                                        <button class="button"
                                            onclick="document.getElementById('input.file-selector').click();">Upload</button>
                                        <input id="input.file-selector" type="file" style="display: none;"
                                            v-on:change="logoFileSelected()" />
                                        <span v-html="inputLogoText" id="input.logo-input"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="input_label_td">
                                    <div>Preview:</div>
                                </td>
                                <td>
                                    <div>
                                        <logo-preview
                                            :logostream="tokenInput.logoStream"
                                            v-bind:tokenname="tokenInput.name" />
                                        </logo-preview>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="input_label_td">Website:</td>
                                <td>
                                    <input v-model="tokenInput.website" class="input"
                                        placeholder="https://tokenproject.fi" size="40"
                                        v-on:change="tokenInputChanged()" />
                                </td>
                            </tr>
                            <tr>
                                <td class="input_label_td">Explorer:</td>
                                <td>
                                    <input v-model="tokenInput.explorerUrl" class="input"
                                        placeholder="https://etherscan.io/token/0xF784682C82526e245F50975190EF0fff4E4fC077"
                                        size="40" v-on:change="tokenInputChanged()" />
                                </td>
                            </tr>
                            <tr>
                                <td class="input_label_td">Short description:</td>
                                <td><textarea v-model="tokenInput.description" class="input"
                                        placeholder="Short description of the project" style="width: 100%;" rows="2"
                                        v-on:change="tokenInputChanged()"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="input_label_td">Check result:</td>
                                <td><textarea v-model="tokenInputCheckResult" class="input" style="width: 100%;"
                                        rows="3"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="button" type="button" onclick="createBranchAndPull()">Create
                                        PR</button>
                                    <button class="button" type="button"
                                        v-on:click="checkInputButton()">Check/Fix</button>
                                    <button class="button" type="button" v-on:click="clearInput()">Clear</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </span>
            </div>
            <div>
                <table>
                    <tr>
                        <td>

                            <div class="tab-pane" v-show="activeTab == 'tab-prs'">
                                <div>
                                    <h3>Pull Requests</h3>
                                </div>
                            </div>
                            <div class="tab-pane" v-show="activeTab == 'tab-search'">
                                <div>
                                    <h3>Token Search</h3>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div v-show="activeTab != 'tab-add'">
                                <div>
                                    <h3>Token View</h3>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div hidden="true">
                <img id="image-placeholder-for-size-computation" src="favicon.ico" />
            </div>
            <div v-show="debugMode">
                <div>Debug Mode</div>
                <div>
                    <button class="button" type="button" v-on:click="debugFillWithDummyData();">Fill test data</button>
                </div>
            </div>
        </div>
        <div id="footer">
            <span id="footer-left">
                <input type="checkbox" id="cb_debug_mode" v-model="debugMode" /><label for="cb_debug_mode">Debug
                    Mode</label>
            </span>
            <span id="footer-right">
                <a>Trust Wallet Assets App</a>
                <img src="favicon.ico" height="20" />
            </span>
        </div>
    </span>
</body>

</html>