
body {
  font-family: sans-serif;
  background-color: white;
}
h1 {
  color: #38659e;
}
button {
  color: white;
  background-color: #38659e;
  font-size: 110%;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.input {
  font-size: 105%;
  border: 1;
  padding: 3px 3px;
}
textarea {
  font-family: sans-serif;
  border: 1;
  padding: 3px 3px;
}
.textarea-small {
  color: gray;
  background-color: lightgoldenrodyellow;
  font-size: 80%;
}
#main {
  background-color: #e0e6ee;
  min-height: 400;
  display: flex;
  flex-direction: column;
}
.tab-pane {
  margin: auto;
}
#header a {
  text-decoration: none;
  color: #38659e;
}
#menu-left a {
  padding: 8px;
}
#menu-left a:hover {
  background-color: #e0e6ee;
}
#menu-right {
  text-align: right;
  float: right;
}
#logo-preview img {
  border-radius: 48%;
}
#footer-right {
  text-align: right;
  float: right;
}
.input_label_td {
  vertical-align: top;
  padding: 5px;
}
