
body {
  font-family: sans-serif;
  background: linear-gradient(131.62deg, #3375BB 9.39%, #1B63AF 73.53%);
}
h1 {
  color: #38659e;
}
a {
  text-decoration: none;
  color: #38659e;
}
a:hover {
  text-decoration: underline;
}
button {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  font-size: 100%;
  border-radius: 7px;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.main button {
  color: white;
  background: #1E2026;
}
.input {
  font-size: 105%;
  padding: 4px;
  margin: 4px;
  width: 100%;
  border: 1px;
  border-color: lightgray;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 3px;
}
textarea {
  font-family: sans-serif;
  border: 1;
  padding: 3px;
}
.textarea-small {
  color: gray;
  background-color: lightgoldenrodyellow;
  font-size: 80%;
}
.main {
  background-color: white;
  min-width: 500px;
  max-width: 70%;
  min-height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 10px;
  overflow: auto;
}
.tab-pane {
  margin: auto;
}
.margined {
  margin: 5px;
}
.center {
  text-align: center;
  margin: auto;
}
.padded {
  padding: 5px;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
#header {
  justify-content: space-between;
  color: white;
}
#menu-right {
  text-align: right;
  float: right;
}
.mainheader {
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  padding: 10px;
}
#tab-add {
  min-width: 300px;
  max-width: 500px;
}
#pulls-list {
  min-width: 300px;
  max-width: 500px;
}
#token-view {
  min-width: 300px;
  max-width: 500px;
}
#search {
  min-width: 300px;
  max-width: 500px;
}
.smallfont {
  font-size: 90%;
  opacity: 80%;
}
.wide {
  width: 100%;
}
.selection-list {
  overflow: auto;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
#pulls-list-list {
  min-height: 100px;
  max-height: 450px;
}
#pull-content-list {
  min-height: 100px;
  max-height: 200px;
}
#token-view {
  width: 100%;
}
#search {
  width: 100%;
}
#token-search-list {
  min-height: 100px;
  max-height: 400px;
}
#footer-right {
  text-align: right;
  float: right;
}
.selection-item {
  padding: 5px;
  background-color: white;
}
.selection-item:hover {
  background-color: #cbd7e8;
}
.selected-item {
  background-color: #e0e6ee;
}
.tab-select {
  padding: 8px;
}
.pull-label-small {
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
  font-size: 80%;
  border: solid;
  border-width: 1px;
  border-color: gray;
}
